* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", "Tahoma", "Trebuchet MS", "Verdana";
	font-size: 13px;
}

body {
	position: relative;
}

#container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

.warrior {
	margin: 4px;
	border-radius: 4px;
	background-color: #777777;
	width: 300px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4px;
}

.name {
	padding: 4px;
	border-radius: 4px;
	background-color: #929292;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.weapon {
	padding: 4px;
	border-radius: 4px;
	background-color: #AAAAAA;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4px;
}

.wName {
	padding: 4px;
	border-radius: 4px;
	background-color: #DDDDDD;
	font-weight: bold;
}

.wDesc {
	padding: 4px;
	border-radius: 4px;
	background-color: #DDDDDD;
}

.wImage img {
	height: 68px;
}

.stats {
	padding: 4px;
	border-radius: 4px;
	background-color: #DDDDDD;
}

.stat {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
	background-color: #EEEEEE;
	font-size: 12px;
}